<h1><%= link_to 'Calendars', calendars_path %> &gt; <%= @calendar.title %> Calendar</h1>
<p>Timezone: <%= @calendar.timezone %></p>

<div id="calendar"></div>

<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
      defaultView:  'agendaWeek',
      allDaySlot:   false,

      header:       {center: 'agendaDay,agendaWeek,month'},

      editable:     'true',

      minTime:      '08:00:00',
      maxTime:      '22:00:00',

      events:       <%= raw @events.to_json %>,

      eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view){
        alert(event.start);
      }
    })
});
</script>